<nav>
	{% assign date = page.date | date_to_string %}
	{% if date != null and date != "" %}
	{% assign datestr = date | append: "," %}
	{% else %}
	{% assign datestr = "" %}
	{% endif %}
	
  {% assign author = site.authors | where: 'short_name', page.author | first %}
	
	{% 
		if page.title != "soal"
		and page.title != "About"
		and page.title != "Viridi"
	%}
	<br clear="all">
	<div class="citation">
	Cite as: {{ author.name }}, "{{ page.title }}" in <i>soal -- learning physics by solving problems</i>, {{ datestr }} url <a href="{{ site.url }}{{ site.baseurl }}{{ page.url }}">{{ site.url }}{{ site.baseurl }}{{ page.url }}</a> [accessed {{ "now" | date: "%d %b %Y" }}].
	{% endif %}
	</div>
</nav>

<!-- Default Statcounter code for soal
https://dudung.github.io/soal/ -->
<script type="text/javascript">
var sc_project=12521977; 
var sc_invisible=0; 
var sc_security="2d643d9c"; 
var sc_text=3; 
var scJsHost = "https://";
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="Web Analytics"
href="https://statcounter.com/" target="_blank"><img
class="statcounter"
src="https://c.statcounter.com/12521977/0/2d643d9c/0/"
alt="Web Analytics"></a></div></noscript>
<!-- End of Statcounter Code -->
<a href="https://statcounter.com/p12521977/?guest=1">View My
Stats</a>