<nav>
	{% assign date = page.date | date_to_string %}
	{% if date != null and date != "" %}
	{% assign datestr = date | append: "," %}
	{% else %}
	{% assign datestr = "" %}
	{% endif %}
	
  {% assign author = site.authors | where: 'short_name', page.author | first %}
	
	{% 
		if page.title != "soal"
		and page.title != "About"
		and page.title != "Viridi"
	%}
	<br clear="all">
	<div class="citation">
	Cite as: {{ author.name }}, "{{ page.title }}" in <i>soal -- learning physics by solving problems</i>, {{ datestr }} url <a href="{{ site.url }}{{ site.baseurl }}{{ page.url }}">{{ site.url }}{{ site.baseurl }}{{ page.url }}</a> [accessed {{ "now" | date: "%d %b %Y" }}].
	{% endif %}
	</div>
</nav>

<!-- Default Statcounter code for soal
https://dudung.github.io/soal/ -->
<script type="text/javascript">
var sc_project=12521463; 
var sc_invisible=0; 
var sc_security="364bd32d"; 
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js"
async></script>
<noscript><div class="statcounter"><a title="free hit
counter" href="https://statcounter.com/"
target="_blank"><img class="statcounter"
src="https://c.statcounter.com/12521463/0/364bd32d/1/"
alt="free hit counter"></a></div></noscript>
<!-- End of Statcounter Code -->
